@using Ictshop.Models;
@model List<GioHang>

<div class="container mt-5">
    <h2 class="text-center text-info mb-4">GIỎ HÀNG</h2>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Mã SP</th>
                        <th>Tên SP</th>
                        <th>Ảnh bìa</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.iMasp</td>
                            <td>@item.sTensp</td>
                            <td><img src="@Url.Content("~"+item.sAnhBia)" width="50" height="50" /></td>
                            <td>@String.Format("{0:0,0}", item.dDonGia)</td>
                            @using (Html.BeginForm("CapNhatGioHang", "GioHang", new { @iMaSP = item.iMasp }))
                            {
                                <td>@Html.TextBox("txtSoLuong", item.iSoLuong, new { @class = "form-control" })</td>
                                <td>@String.Format("{0:0,0}", item.ThanhTien)</td>
                                <td>
                                    <input type="submit" value="Cập nhật" class="btn btn-secondary" />
                                    @Html.ActionLink("Xóa", "XoaGioHang", new { @iMaSP = item.iMasp }, new { @class = "btn btn-success" })
                                </td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div></style>