@model Ictshop.Models.LoginModel

@{ ViewBag.Title = "Dangnhap";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<div class="container">
    <div class="row justify-content-center align-items-center ">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Đăng Nhập </h2>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Dangnhap", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.userMail)
                            @Html.EditorFor(model => model.userMail, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.userMail, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.password)
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { type = "Password", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group mt-2">
                            <input type="submit" value="Đăng nhập" class="btn btn-primary btn-block" />
                        </div>
                    }
                </div>
                <div class="card-footer text-center">
                    <div>Hoặc đăng nhập bằng</div>
                    <div class="mt-2">
                        <a href="#" class="btn btn-outline-danger">
                            <i class="fab fa-google"></i> Google
                        </a>
                        <a href="#" class="btn btn-outline-primary">
                            <i class="fab fa-facebook"></i> Facebook
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

